
body {
    background-color:rgba(69, 81, 133, 0.925);
}

ul {
    list-style-type:none;
    margin: 4;
    padding: 4;
    overflow: hidden;
    background-color: rgba(245, 192, 46, 0.993);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #505dd686;
  }

  Billede
  .ansøgning {
   margin-left: 500mm;
  }