body {
    background-color:#5e7194;
}

ul {
    list-style-type:none;
    margin: 4;
    padding: 4;
    overflow: hidden;
    background-color: rgba(245, 192, 46, 0.993);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #505dd686;
  }
  h2{
      margin-left: 5mm;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h3{
    margin-left: 5mm;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }